
/* base colour scheme */
:root {
    --color-four:   #FFFFFF; /*white*/

    --color-one:    #C22727; /*firebrick red*/
    --color-six:    #CD4C4D; /*light red*/

    --color-five:   #3A3A3A; /*dark grey*/
    --color-two:    #616161; /*med grey*/
    --color-eight:  #e8e8e8; /*light med grey*/
    --color-three:  #DADADA; /*light grey*/
    --color-nine:   #8A8A8A; /*dark grey*/

}

/* events pallete */
:root {
    --event-one:    #3A3A3A; /*grey*/
    --event-two:    #E20000; /*red*/
    --event-three:  #FF6600; /*orange*/
}

/* traffic light pallete */
:root {
    --tl-red:       #C22727;
    --tl-amber:     #ffbf00;
    --tl-green:     #00B200;
}

body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}