.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
    color:              #ffffff;
}

.app-header .app-header--h6 {
    font-size:          12px;
    padding-left:       5px;
    color:              var(--color-one);
}